<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.handBacking" title="@Strings.BackingTitle" prompt="@Strings.BackingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.BackingOff</listEntry>
            <listEntry value="1">@Strings.BackingWhite</listEntry>
            <listEntry value="2">@Strings.BackingDark</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.alwaysOnFill" title="@Strings.AlwaysOnFillTitle" prompt="@Strings.AlwaysOnFillPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.AlwaysOnFillShown</listEntry>
            <listEntry value="1">@Strings.AlwaysOnFillHidden</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ring1" title="@Strings.Ring1Title" prompt="@Strings.RingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SourceSteps</listEntry>
            <listEntry value="1">@Strings.SourceHeartRate</listEntry>
            <listEntry value="2">@Strings.SourceBattery</listEntry>
            <listEntry value="3">@Strings.SourceBodyBattery</listEntry>
            <listEntry value="4">@Strings.SourceTemperature</listEntry>
            <listEntry value="5">@Strings.SourceRain</listEntry>
            <listEntry value="6">@Strings.SourceIntensityMinutes</listEntry>
            <listEntry value="7">@Strings.SourceSeconds</listEntry>
            <listEntry value="8">@Strings.SourceOff</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ring2" title="@Strings.Ring2Title" prompt="@Strings.RingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SourceSteps</listEntry>
            <listEntry value="1">@Strings.SourceHeartRate</listEntry>
            <listEntry value="2">@Strings.SourceBattery</listEntry>
            <listEntry value="3">@Strings.SourceBodyBattery</listEntry>
            <listEntry value="4">@Strings.SourceTemperature</listEntry>
            <listEntry value="5">@Strings.SourceRain</listEntry>
            <listEntry value="6">@Strings.SourceIntensityMinutes</listEntry>
            <listEntry value="7">@Strings.SourceSeconds</listEntry>
            <listEntry value="8">@Strings.SourceOff</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ring3" title="@Strings.Ring3Title" prompt="@Strings.RingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SourceSteps</listEntry>
            <listEntry value="1">@Strings.SourceHeartRate</listEntry>
            <listEntry value="2">@Strings.SourceBattery</listEntry>
            <listEntry value="3">@Strings.SourceBodyBattery</listEntry>
            <listEntry value="4">@Strings.SourceTemperature</listEntry>
            <listEntry value="5">@Strings.SourceRain</listEntry>
            <listEntry value="6">@Strings.SourceIntensityMinutes</listEntry>
            <listEntry value="7">@Strings.SourceSeconds</listEntry>
            <listEntry value="8">@Strings.SourceOff</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ring4" title="@Strings.Ring4Title" prompt="@Strings.RingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SourceSteps</listEntry>
            <listEntry value="1">@Strings.SourceHeartRate</listEntry>
            <listEntry value="2">@Strings.SourceBattery</listEntry>
            <listEntry value="3">@Strings.SourceBodyBattery</listEntry>
            <listEntry value="4">@Strings.SourceTemperature</listEntry>
            <listEntry value="5">@Strings.SourceRain</listEntry>
            <listEntry value="6">@Strings.SourceIntensityMinutes</listEntry>
            <listEntry value="7">@Strings.SourceSeconds</listEntry>
            <listEntry value="8">@Strings.SourceOff</listEntry>
        </settingConfig>
    </setting>
</settings>
